
#about-banner {
  height: 20rem;
  background-image: url("../imgs/banner-02.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-title {
  transform: translateY(-50%);
}


/* change bootstrap nav style */
#aboutUs .nav-link {
  height: 3.5rem;
  margin-bottom: .75rem;
  
}

#aboutUs .nav-link.active{
  background-color: #efede9 !important;
  color: #203d3b !important;
  border-right: 4px solid #203d3b;
}


#aboutUs .nav-link:hover {
  background-color: rgb(176, 150, 119, 0.1);
}

@media screen and (max-width: 768px) {
  #aboutUs .nav-link.active{
    border-right: none;
    border-bottom: 4px solid #203d3b;
  }
}

/* change bootstrap accordion border style */
.accordion-item {
  border: none;
}
.accordion-button {
  border: none;
  border-bottom: 1.5px solid #efede9;
}

