/* footer styles */
.socialIcon {
  width: 3rem;
  height: 3rem;
}

.socialIcon>i {
  line-height: 3rem;
}


a {
  text-decoration: none;
}


/* navigation styles */
#nav-container {
  height: 6rem;
}

#nav-container img {
  height: 2.5rem;
}


/* cart */
.cart-img-box {
  width: 7rem;
  height: 7rem;
}