* {
  letter-spacing: 0.12rem;
  line-height: 1.75;
}

a {
  text-decoration: none;
}

ul, li, ol {
  margin: 0;
  padding: 0;
}

/* 常用 */
.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.text-4r {
  font-size: 4rem;
  font-weight: bolder;
  color: #203d3b;
}


.text-5r {
  font-size: 5rem;
  font-weight: bolder;
  color: #203d3b;
}


/* footer styles */
.socialIcon {
  width: 3rem;
  height: 3rem;
}

.socialIcon>i {
  line-height: 3rem;
}

/* navigation styles */
#nav-container img {
  height: 2.5rem;
}

.nav-ul {
  letter-spacing: 2px;
}

.nav-ul > li:not(:last-child) {
  margin-right: 1.25rem;
}

.dropdown-menu {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block; 
  top: 100%; 
}

.navbar {
  position: relative;
}


.nav-menu-styles > li > a:hover {
  background-color: #97AD8C;
  color: #203d3b;
}


/* cart */
.cart-img-box {
  width: 7rem;
  height: 7rem;
}

/* promo */
.promo-banner {
  height: 24rem;
}

.object-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.promo-banner h2 {
  font-size: 5rem;
}

.promo-banner h4 {
  font-size: 2rem;
}

.promo-img {
  aspect-ratio: 3 / 4;
}


